.navbar{
    border-radius:0px;
}

.container {
    display: flex;
    justify-content: space-between;
  }


  .right {
    border: 1px solid black;
  }

  .right2 {
    width: 300px;
  }

  .right3 {
    border: 1px solid black;
    margin-left:  700px;
  }


  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #82ca9c;
    background-color:transparent;
}
.right3 .nav-item {
    color: #000;
    font-size:14px;
    font-weight:600;
	text-transform:uppercase;
}
.right3 .nav-item:hover{
    color: #82ca9c;
}

.right3 .login{
    color: #82ca9c;
    border: 1px solid #82ca9c;
    border-radius: 20px;
    padding: 4px 30px; 
    font-size: 12px;
    /* margin-top: 10px; */
    
    margin-left: 30px; 
    display:inline-block;
    overflow:hidden;
    background-color: transparent;
}
.right3 .login:hover{
    background-color: rgba(0, 173, 62, 0.75);
    color:#fff;
}





  .mynav {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    padding-top: 20px;
    
  }

  .left {
    border: 1px solid black;
    margin-right: 500px;
    margin-left: 80px;
   
  }
  


/* For Social Wrapper */
.social-wrapper{
    border: 1px solid white;
    margin-left: 170px;
    width: 1200px;
} 


.social{
    background:#000;
    padding:2px 0; 
    /* height: 30px; */
}
.social-wrapper .social-icon a{
    float:left;
    font-size:13px;
    color:#fff;
}

.social-wrapper .social-icon a:hover{
    color:#82ca9c;
}


.myicon{
    border: 1px solid white;

}



.social-wrapper .social-icon a i{
    padding-right:10px;
}
.social-wrapper .social-contact{
    float:right;
    font-size:13px;
    border: 1px solid white;
}
.social-wrapper .social-contact a{
    color:#fff;
    /* margin-right:20px; */
    
}
.social-wrapper .social-contact a:hover{
    color:#82ca9c;
}
.social-wrapper .social-contact a i{
    padding-right:5px;
}

/*
Section
*/
.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.sections2 {
    padding-top:40px;
    padding-bottom:40px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 12px;
}


.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 2px;
    width: 80px;
    margin: auto;
    background: #ededed;
}


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}



/*For Home Section*/
.home{
    background:url(./homebg.jpg) no-repeat center center;
    color:#000;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.home-wrapper{
    padding:180px 0px;
    overflow:hidden;
}
.home-content h1{
    font-size:48px;
    font-weight:700;
    margin-bottom: 30px;
    color: #fff;
}
.home-content p{
    margin-bottom: 30px;
    color: #fff;
}



/*SlideShow STYLE*/
.slide-container {
    direction: ltr;
    width: 70%;
    margin: auto;
  }
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 300px;
  }
  .react-slideshow-container .nav[data-type="prev"] span {
    margin-left: 5px;
    border-right: none;
    border-top: none;
  }
  .react-slideshow-container .nav[data-type="next"] span {
    margin-right: 5px;
    border-left: none;
    border-bottom: none;
  }
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  .each-fade {
    display: flex;
  }
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  .each-fade .image-container img {
    width: 100%;
  }
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }
  .react-slideshow-container + div.indicators > div:last-of-type {
    margin-right: 10px;
  }



  /* Team */
  
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
  background: #81c644;
  font-family: 'Josefin Sans', sans-serif;
} */

.wrapper{
  margin-top: 10%;
  /* width: 1300px;
  margin-left: 100px;
  border: 1px solid black; */
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  
}

.team .team_member{
  background: #D1DFE3;
  margin: 25px;
  margin-bottom: 50px;
  width: 350px;
  padding: 20px;
  line-height: 20px;
  height: 500px;
  color: #8e8b8b;  
  position: relative;
  border: 1px solid white;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 200px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid black;
 
}

.team .team_member .team_img img{
  width: 250px;
  height: 250px;
  padding: 5px;
}